<div class='container mt-4'>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @task, class: 'form' do |f| %>
        <div class="mb-3">
          <%= f.label :title, class: 'form-label' %>
          <%= f.text_field :title, class: 'form-control form-control-sm' %>
        </div>

        <div class="mb-3">
          <%= f.label :details, class: 'form-label' %>
          <%= f.text_field :details, class: 'form-control form-control-sm' %>
        </div>

        <div class="form-check mb-3">
          <%= f.label :completed, class: 'form-check-label' %>
          <%= f.check_box :completed, class: 'form-check-input' %>
        </div>

        <%= f.submit 'Save', class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <%= link_to 'Back to list', tasks_path, class: 'btn btn-secondary btn-sm btn-block' %>
    </div>
  </div>
</div>
